# 
# SIMILAR TO .ENV IN BACKEND. 
# REMOVE THE .example FROM .env.example
# BUT PLEASE SIMPLY CREATE A COPY AND LEAVE ANOTHER COPY OF .env.example UNEDITED WHEN PUSHING TO GITHUB
# 

VITE_API_BASE_URL = http://localhost:8001/api

